.product {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.productImage {
    flex-grow: 1;
    width: 33%;
    box-sizing: border-box;
    padding-right: 0.5em;
}

.productInfo {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 0.5em;
}

.productInfo .cta {
    position: absolute;
    bottom: 0;
    margin-left: -0.5em;
    width: 100%;
    padding: 0;
}

.productAbv {
    margin: 0;
}

.productTitle {
    margin: 0;
}

.productTagline {
    font-size: 0.75em;
    margin-top: 0;
}

.productDescription {
    overflow: hidden;
    text-overflow: ellipsis; /* FIXME: Does not work; don't know why */
    flex-grow: 1;
    line-height: 1.2em;
}
