.productCatalogue {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productCatalogueItem {
    box-sizing: border-box;
    margin: 1em 0;
    height: 370px;
}

.productCatalogueItem .cta {
    display: none;
    cursor: pointer;
}

.productCatalogueItem:hover .cta {
    display: block;
}

@media screen and (min-width: 460px) {
    .productCatalogueItem {
        width: 50%;
    }

    .productCatalogueItem:nth-child(2n-1) ,
    .productCatalogueItem:nth-child(2n) {
        padding-left: 0.5em;
    }
}

@media screen and (min-width: 750px) {
    .productCatalogueItem {
        width: 33%;
    }

    .productCatalogueItem:nth-child(2n) {
        align-self: center;
        padding: 0 0.3em;
    }

    .productCatalogueItem:nth-child(1) ,
    .productCatalogueItem:nth-child(3n+1) ,
    .productCatalogueItem:last-child ,
    .productCatalogueItem:nth-child(3n) {
        padding-left: 0;
        padding-right: 0.5em;
    }
}
