body {
    color: #3d4b50
}

button {
    border: 1px solid darkblue;
    background: lightblue;
}

.cta {
    background: #86e6a2;
    border: 1px solid #65a978;
    color: #457554;
    line-height: 2em;
}
