@import './css/normalize.css';
@import './css/dev.css';
@import './css/page-layout.css';
@import './css/theme.css';
@import './css/components/product.css';
@import './css/components/product-catalogue.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
